<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>about</title>
    <style>
        body {
            padding: 50px;
            margin: 100px;
            width: 100%;
            align-items: center;
            justify-content: center;
        }
        table{
    border: solid 1px green;
            width: 100%;
    }
        th, td {
            border: solid 1px green;
        }
        h1 {
            margin-left: 100px;
        }
    </style>

</head>
<body>
<h1>About us</h1>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>company</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Gloria</td>
            <td>Emobils</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Mary</td>
            <td>Amazon</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Joseph</td>
            <td>Safaricom</td>
        </tr>
    </table>
</div>
</body>
</html>